In [1]:
import bq_helper #Import package with helper functions

open_aq = bq_helper.BigQueryHelper(active_project = "bigquery-public-data", dataset_name = "openaq")
#creating helper object

open_aq.list_tables()

['global_air_quality']

In [2]:
open_aq.head("global_air_quality")

             location          ...           averaged_over_in_hours
0     Mobile_Cle Elum          ...                              1.0
1  Mobile_WhiteSalmon          ...                              1.0
2      Mobile_Newport          ...                              1.0
3             FR33305          ...                              1.0
4             FR33305          ...                              1.0

[5 rows x 11 columns]

What's up with the triple quotation marks (""")? These tell Python that everything inside them is a single string, even though we have line breaks in it. The line breaks aren't necessary, but they do make it much easier to read your query.

In [3]:
query = """SELECT city
            FROM `bigquery-public-data.openaq.global_air_quality`
            WHERE country = 'US'
        """

 **Important**: Note that the argument we pass to FROM is not in single or double quotation marks (' or "). It is in backticks (`).

In [4]:
us_cities = open_aq.query_to_pandas_safe(query)

In [5]:
us_cities.city.value_counts().head() #Finding the top 5 cities with most measurements taken. So fucking powerful

Phoenix-Mesa-Scottsdale                     85
Houston                                     79
Los Angeles-Long Beach-Santa Ana            60
New York-Northern New Jersey-Long Island    59
Riverside-San Bernardino-Ontario            56
Name: city, dtype: int64